<h1>Index Page</h1>

<table>
<thead>
  <tr>
    <th>Name<th>
    <th>Description<th>
    <th>Action <th>
  </tr>
</thead>
  <tbody>
  <% @articles.each do |artc| %>
  <tr>
  <td><%= artc.name %></td>
  <td><%= artc.description %></td>
  <td> <%= link_to "Show", article_path(artc)  %> </td>
  <td><%= link_to "Edit", edit_article_path(artc) %></td>
  <td> <%= button_to "delete", article_path(artc) ,method: :delete, data: {turbo_confirm: "Are you sure want to delete ?"} %></td>
  </tr>
  </tbody>
  <% end %>
</table>

<%= link_to "New Data", new_article_path %> 